# Ignore environment configuration files
.htaccess
.env.local

# Ignore Composer dependencies
/vendor/

# Ignore cache and logs
/storage/
bootstrap/cache/

# Ignore database files
*.sql
*.sqlite
db_connect.php

# Ignore compiled assets
/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore IDE/editor-specific files
*.log
*.bak
*.swp
*.swo
*.vscode/
*.idea/

# Ignore system files
.DS_Store
Thumbs.db
